.gridBase {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
}
.gridInactive {
  background-color: rgba(211, 211, 211, 0.627);
}

.gridRow0 {
  background-color: #FFD6E8;
}
.gridRow1 {
  background-color: #FFECC2;
}
.gridRow2 {
  background-color: #FFFAC2;
}
.gridRow3 {
  background-color: #DFFFD6;
}
.gridRow4 {
  background-color: #D6F3FF;
}
.gridRow5 {
  background-color: #E0D6FF;
}
.gridRow6 {
  background-color: #FFD6C7;
}
.playingCol {
  opacity: 0.5;
}

