.gridBase {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
}
.gridInactive {
  background-color: rgba(211, 211, 211, 0.627);
}

.gridRow0 {
  background-color: rgb(236, 52, 52);
}
.gridRow1 {
  background-color: rgb(38, 255, 0);
}
.gridRow2 {
  background-color: rgb(0, 102, 255);
}
.gridRow3 {
  background-color: rgb(255, 0, 247);
}
.gridRow4 {
  background-color: rgb(0, 255, 255);
}
.gridRow5 {
  background-color: rgb(246, 112, 150);
}
.gridRow6 {
  background-color: rgb(71, 48, 62);
}
.playingCol {
  opacity: 0.5;
}

