html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* מונע גלילה */
}


body::before {
  content: "";
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;       
}
