body {
  background-image: url("/logo.png");
  background-size: cover;      
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  margin: 0;
  padding: 0;
}
