button {
  display: grid;
  /* justify-content: center; */
  cursor: pointer;
  border-radius: 5px;
  /* border-color: #faebd7 */
  border-color: #ffffff;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(240 240 240)  ;
}
.play {
  background-image: url("/play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
}
.addColl{
  background-image: url("/plus.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
  width: 100px;
  height: 100px;
}
.DeleteColl{
  background-image: url("/minus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
}