button {
  display: grid;
  cursor: pointer;
  border-radius: 5px;
  /* border-color: #faebd7 */
  border-color: #ffffff;
}
.Buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(242 219 103);
  margin-top: 80px;
  margin-top: 50px;
}

.baseButton {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
}
.play {
  background-image: url("/play.png");
}
.addColl {
  background-image: url("/plus.png");
}
.DeleteColl {
  background-image: url("/minus.png");
}
.Refresh {
  background-image: url("/Refresh.png");
}
.loop {
  background-image: url("/loop.png");
}
.piano{
  background-image: url("/piano.png");
}
.guitar{
  background-image: url("/guitar.png");
}
.xylophone{
  background-image: url("/xylophone.png");
}

.numSpeed {
  text-align: center;
  margin: 33px 0 5px 0;
}


.speed {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(90deg, rgb(246,242,130), orange);
  outline: none;
  margin: 45px;
}

.speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: orange;
  border-radius: 50%;
  cursor: pointer;
}

.speed::-moz-range-track {
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(90deg, rgb(234,230,121), orange);
}

.speed::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: orange;
  border-radius: 50%;
  cursor: pointer;
}


.volume {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 12px;
  background: linear-gradient(to top, rgb(234,230,121), orange); 
  border-radius: 6px;
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: center;
  margin: 40px 0 0 0;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  cursor: pointer;
}

.volume::-moz-range-track {
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(to top, rgb(234,230,121), orange);
}

.volume::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  cursor: pointer;
}
